# macOS Finder metadata
.DS_Store
# Windows Explorer metadata
Thumbs.db

# Node.js
node_modules/
.next/
out/

# Environment files
.env
.env.*
.vercel/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
